.navigation{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 70px;
}


.navigation div ul{
    display: flex;
    gap: 12px;
    list-style: none;
    align-items: center;
    margin-top: 15px;
    padding: 0 12px;
    font-weight: 600;
}

.logo{
    padding: 7px;
}